<a href="https://colab.research.google.com/github/DaltonWise/Homework/blob/main/Data_Transformation_with_r_or_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:

data = pd.read_csv('/content/ORES table formatted.csv')

#This is assignining the info as a data frame so it can be parced properly.
df = pd.DataFrame(data)

#showing myself how the data looks here.
df.head()

,Characteristics,Both_Total,None,B_1st _4th_grade,B_ 5th _6th_grade,B _7th _8th_grade,B_9th_grade,B_10th_grade,B_11th_grade2,B_High_school_graduate,...,F_10th_grade,F_11th_grade2,F_High_school_graduate,F_Some_college_no_degree,F_Associate'_degree_occupational,F_Associate_degree_academic,F_Bachelor_degree,F_Master_degree,F_Professional_degree,F_Doctoral_degree
0,\t 18 years and over,253418,777.0,1364.0,2848.0,3252.0,3063.0,3489.0,9541.0,71742.0,...,1624.0,4556.0,34753.0,22316.0,5560.0,8619.0,29971.0,13942.0,1477.0,2144.0
1,\t\t 18 to 24 years,28838,45.0,23.0,61.0,177.0,236.0,491.0,3249.0,9194.0,...,228.0,1489.0,4061.0,5160.0,314.0,675.0,1938.0,149.0,2.0,3.0
2,\t 25 years and over,224580,732.0,1341.0,2787.0,3076.0,2827.0,2998.0,6293.0,62547.0,...,1396.0,3067.0,30693.0,17156.0,5246.0,7945.0,28033.0,13793.0,1475.0,2141.0
3,\t\t 25 to 29 years,22592,35.0,24.0,92.0,127.0,187.0,176.0,640.0,6305.0,...,67.0,276.0,2585.0,1849.0,481.0,788.0,3561.0,1078.0,101.0,121.0
4,\t\t 30 to 34 years,22691,34.0,52.0,162.0,193.0,265.0,231.0,634.0,5627.0,...,104.0,257.0,2411.0,1626.0,491.0,741.0,3423.0,1557.0,171.0,249.0

**Dropping Columns**

In [4]:
#I dropped each of these columns because they lead to outliers in the data and take away from some of the correlation in graphs.
#I do not think it is valuable to have the total of both, men, and women. These values are much larger and do not help show any trend.
df.drop(['Both_Total', 'Male_Total', 'Female_Total'], axis=1, inplace=True)
df.head()

,Characteristics,None,B_1st _4th_grade,B_ 5th _6th_grade,B _7th _8th_grade,B_9th_grade,B_10th_grade,B_11th_grade2,B_High_school_graduate,B_Some_college_no_degree,...,F_10th_grade,F_11th_grade2,F_High_school_graduate,F_Some_college_no_degree,F_Associate'_degree_occupational,F_Associate_degree_academic,F_Bachelor_degree,F_Master_degree,F_Professional_degree,F_Doctoral_degree
0,\t 18 years and over,777.0,1364.0,2848.0,3252.0,3063.0,3489.0,9541.0,71742.0,43324.0,...,1624.0,4556.0,34753.0,22316.0,5560.0,8619.0,29971.0,13942.0,1477.0,2144.0
1,\t\t 18 to 24 years,45.0,23.0,61.0,177.0,236.0,491.0,3249.0,9194.0,9869.0,...,228.0,1489.0,4061.0,5160.0,314.0,675.0,1938.0,149.0,2.0,3.0
2,\t 25 years and over,732.0,1341.0,2787.0,3076.0,2827.0,2998.0,6293.0,62547.0,33455.0,...,1396.0,3067.0,30693.0,17156.0,5246.0,7945.0,28033.0,13793.0,1475.0,2141.0
3,\t\t 25 to 29 years,35.0,24.0,92.0,127.0,187.0,176.0,640.0,6305.0,3891.0,...,67.0,276.0,2585.0,1849.0,481.0,788.0,3561.0,1078.0,101.0,121.0
4,\t\t 30 to 34 years,34.0,52.0,162.0,193.0,265.0,231.0,634.0,5627.0,3438.0,...,104.0,257.0,2411.0,1626.0,491.0,741.0,3423.0,1557.0,171.0,249.0

In [5]:
#These two commands remove the rows indicated.
#Below removes row 0.
df.drop(0, axis=0, inplace = True)
#Below removes row 2.
df.drop(2, axis=0, inplace = True)
df.head()

,Characteristics,None,B_1st _4th_grade,B_ 5th _6th_grade,B _7th _8th_grade,B_9th_grade,B_10th_grade,B_11th_grade2,B_High_school_graduate,B_Some_college_no_degree,...,F_10th_grade,F_11th_grade2,F_High_school_graduate,F_Some_college_no_degree,F_Associate'_degree_occupational,F_Associate_degree_academic,F_Bachelor_degree,F_Master_degree,F_Professional_degree,F_Doctoral_degree
1,\t\t 18 to 24 years,45.0,23.0,61.0,177.0,236.0,491.0,3249.0,9194.0,9869.0,...,228.0,1489.0,4061.0,5160.0,314.0,675.0,1938.0,149.0,2.0,3.0
3,\t\t 25 to 29 years,35.0,24.0,92.0,127.0,187.0,176.0,640.0,6305.0,3891.0,...,67.0,276.0,2585.0,1849.0,481.0,788.0,3561.0,1078.0,101.0,121.0
4,\t\t 30 to 34 years,34.0,52.0,162.0,193.0,265.0,231.0,634.0,5627.0,3438.0,...,104.0,257.0,2411.0,1626.0,491.0,741.0,3423.0,1557.0,171.0,249.0
5,\t\t 35 to 39 years,48.0,99.0,277.0,280.0,311.0,292.0,571.0,5002.0,3083.0,...,140.0,259.0,2127.0,1506.0,417.0,790.0,3081.0,1656.0,179.0,256.0
6,\t\t 40 to 44 years,34.0,113.0,308.0,299.0,315.0,270.0,566.0,5039.0,2744.0,...,141.0,256.0,2166.0,1394.0,463.0,719.0,2651.0,1592.0,210.0,228.0

**Transforming data types**

In [6]:
#This is showing the data types of each column in the data set.

#I am going to change some of them to integers to show that I know how.
df.dtypes

Characteristics                      object
None                                float64
B_1st _4th_grade                    float64
B_ 5th _6th_grade                   float64
B _7th _8th_grade                   float64
B_9th_grade                         float64
B_10th_grade                        float64
B_11th_grade2                       float64
B_High_school_graduate              float64
B_Some_college_no_degree            float64
B_Associate_degree_occupational     float64
B_Associate_degree_academic         float64
B_Bachelor_degree                   float64
B_Master_degree                     float64
B_Professional_degree               float64
B_Doctoral_degree                   float64
None.1                              float64
M_1st _ 4th_grade                   float64
M_5th _ 6th_grade                   float64
M_7th _8th_grade                    float64
M_9th_grade                         float64
M_10th_grade                        float64
M_11th_grade2                       float64
M_High_school_graduate              float64
M_Some_college_no_degree            float64
M_Associate_degree_occupational     float64
M_Associate_degree_academic         float64
M_Bachelor_degree                   float64
M_Master_degree                     float64
M_Professional_degree               float64
M_Doctoral_degree                   float64
None.2                              float64
F_1st _4th_grade                    float64
F_5th_6th_grade                     float64
F_7th _8th_grade                    float64
F_9th_grade                         float64
F_10th_grade                        float64
F_11th_grade2                       float64
F_High_school_graduate              float64
F_Some_college_no_degree            float64
F_Associate'_degree_occupational    float64
F_Associate_degree_academic         float64
F_Bachelor_degree                   float64
F_Master_degree                     float64
F_Professional_degree               float64
F_Doctoral_degree                   float64
dtype: object

In [7]:
#I chose to convert the columns representing masters degrees to convert from float to integer.


#It is actually better to use integers over floats when you can because it improve computational speed.
#Integers are stored as fixed values while floats can be stored in a number of ways that all require computation before being identified.
#https://discuss.codecademy.com/t/if-most-numbers-can-be-represented-as-a-float-value-why-would-we-need-to-use-integers/347282#:~:text=The%20advantage%20of%20int%20over,just%20in%20assessing%20the%20value.
#We also literally do not need them to be floats because none of them have decimal values.


#Both
df['B_Bachelor_degree'] = df['B_Bachelor_degree'].astype(int)
df['B_Master_degree'] = df['B_Master_degree'].astype(int)
df['B_Professional_degree'] = df['B_Professional_degree'].astype(int)
df['B_Doctoral_degree'] = df['B_Doctoral_degree'].astype(int)
#Male
df['M_Bachelor_degree'] = df['M_Bachelor_degree'].astype(int)
df['M_Master_degree'] = df['M_Master_degree'].astype(int)
df['M_Professional_degree'] = df['M_Professional_degree'].astype(int)
df['M_Doctoral_degree'] = df['M_Doctoral_degree'].astype(int)
#Female
df['F_Bachelor_degree'] = df['F_Bachelor_degree'].astype(int)
df['F_Master_degree'] = df['F_Master_degree'].astype(int)
df['F_Professional_degree'] = df['F_Professional_degree'].astype(int)
df['F_Doctoral_degree'] = df['F_Doctoral_degree'].astype(int)

In [8]:
#I used the print function to show the type had changed.
#I did not want include each one as it seemed unnecessary.
#This is me showing that the data types have been correctly altered.
print(df['B_Master_degree'].dtypes)
print(df['M_Master_degree'].dtypes)
print(df['F_Master_degree'].dtypes)

int64
int64
int64

**Renaming Columns**

In [10]:
#This is me renaming the degrees to something  that looks better.
df.rename(columns = {'B_Bachelor_degree' : 'B_Bachelor', 'B_Master_degree' : 'B_Master', 'B_Professional_degree' : 'B_Professional', 'B_Doctoral_degree' : 'B_Doctoral',
                     'M_Bachelor_degree' : 'M_Bachelor', 'M_Master_degree' : 'M_Master', 'M_Professional_degree' : 'M_Professional', 'M_Doctoral_degree' : 'M_Doctoral',
                     'F_Bachelor_degree' : 'F_Bachelor', 'F_Master_degree' : 'F_Master', 'F_Professional_degree' : 'F_Professional', 'F_Doctoral_degree' : 'F_Doctoral',
                    } , inplace = True)
df.columns

Index(['Characteristics', 'None', 'B_1st _4th_grade', 'B_ 5th _6th_grade',
       'B _7th _8th_grade', 'B_9th_grade', 'B_10th_grade', 'B_11th_grade2',
       'B_High_school_graduate', 'B_Some_college_no_degree',
       'B_Associate_degree_occupational', 'B_Associate_degree_academic',
       'B_Bachelor', 'B_Master', 'B_Professional', 'B_Doctoral', 'None.1',
       'M_1st _ 4th_grade', 'M_5th _ 6th_grade', 'M_7th _8th_grade',
       'M_9th_grade', 'M_10th_grade', 'M_11th_grade2',
       'M_High_school_graduate', 'M_Some_college_no_degree',
       'M_Associate_degree_occupational', 'M_Associate_degree_academic',
       'M_Bachelor', 'M_Master', 'M_Professional', 'M_Doctoral', 'None.2',
       'F_1st _4th_grade', 'F_5th_6th_grade', 'F_7th _8th_grade',
       'F_9th_grade', 'F_10th_grade', 'F_11th_grade2',
       'F_High_school_graduate', 'F_Some_college_no_degree',
       'F_Associate'_degree_occupational', 'F_Associate_degree_academic',
       'F_Bachelor', 'F_Master', 'F_Professional', 'F_Doctoral'],
      dtype='object')

In [19]:
#This is me renaming the masters degrees to something  that looks better.
df.rename(columns = {'B_Master_degree' : 'B_Master', 'M_Master_degree' : 'M_Master', 'F_Master_degree' : 'F_Master'}, inplace = True)
df.columns

Index(['Characteristics', 'None', 'B_1st _4th_grade', 'B_ 5th _6th_grade',
       'B _7th _8th_grade', 'B_9th_grade', 'B_10th_grade', 'B_11th_grade2',
       'B_High_school_graduate', 'B_Some_college_no_degree',
       'B_Associate_degree_occupational', 'B_Associate_degree_academic',
       'B_Bachelor_degree', 'B_Master', 'B_Professional_degree',
       'B_Doctoral_degree', 'None.1', 'M_1st _ 4th_grade', 'M_5th _ 6th_grade',
       'M_7th _8th_grade', 'M_9th_grade', 'M_10th_grade', 'M_11th_grade2',
       'M_High_school_graduate', 'M_Some_college_no_degree',
       'M_Associate_degree_occupational', 'M_Associate_degree_academic',
       'M_Bachelor_degree', 'M_Master', 'M_Professional_degree',
       'M_Doctoral_degree', 'None.2', 'F_1st _4th_grade', 'F_5th_6th_grade',
       'F_7th _8th_grade', 'F_9th_grade', 'F_10th_grade', 'F_11th_grade2',
       'F_High_school_graduate', 'F_Some_college_no_degree',
       'F_Associate'_degree_occupational', 'F_Associate_degree_academic',
       'F_Bachelor_degree', 'F_Master', 'F_Professional_degree',
       'F_Doctoral_degree'],
      dtype='object')

**Create calculated data field**

In [11]:
#This will show all the males in each age frame with a bachelors degree or higher. Those with a college education.
Male_Degree = ['M_Bachelor', 'M_Master', 'M_Professional', 'M_Doctoral']
df['Male_Degree'] = df[Male_Degree].sum(axis=1, skipna=False)
df['Male_Degree']

1     1613
3     3945
4     4290
5     4212
6     3878
7     3571
8     3791
9     3257
10    3273
11    3053
12    2642
13    3682
Name: Male_Degree, dtype: int64

In [12]:
#All women of a certain age bracket with atleast a bachelor degree.
Female_Degree = ['F_Bachelor', 'F_Master', 'F_Professional', 'F_Doctoral']
df['Female_Degree'] = df[Female_Degree].sum(axis=1, skipna=False)
df['Female_Degree']

1     2092
3     4861
4     5400
5     5172
6     4681
7     4424
8     4317
9     3891
10    3741
11    3135
12    2537
13    3285
Name: Female_Degree, dtype: int64

**Drop Duplicates**

In [13]:
#I am pretty sure I have no duplicate values.
#If I did they are gone.
df.drop_duplicates()

,Characteristics,None,B_1st _4th_grade,B_ 5th _6th_grade,B _7th _8th_grade,B_9th_grade,B_10th_grade,B_11th_grade2,B_High_school_graduate,B_Some_college_no_degree,...,F_High_school_graduate,F_Some_college_no_degree,F_Associate'_degree_occupational,F_Associate_degree_academic,F_Bachelor_degree,F_Master,F_Professional_degree,F_Doctoral_degree,Male_Degree,Female_Degree
1,\t\t 18 to 24 years,45.0,23.0,61.0,177.0,236.0,491.0,3249.0,9194.0,9869.0,...,4061.0,5160.0,314.0,675.0,1938.0,149,2.0,3.0,1613.0,2092.0
3,\t\t 25 to 29 years,35.0,24.0,92.0,127.0,187.0,176.0,640.0,6305.0,3891.0,...,2585.0,1849.0,481.0,788.0,3561.0,1078,101.0,121.0,3945.0,4861.0
4,\t\t 30 to 34 years,34.0,52.0,162.0,193.0,265.0,231.0,634.0,5627.0,3438.0,...,2411.0,1626.0,491.0,741.0,3423.0,1557,171.0,249.0,4290.0,5400.0
5,\t\t 35 to 39 years,48.0,99.0,277.0,280.0,311.0,292.0,571.0,5002.0,3083.0,...,2127.0,1506.0,417.0,790.0,3081.0,1656,179.0,256.0,4212.0,5172.0
6,\t\t 40 to 44 years,34.0,113.0,308.0,299.0,315.0,270.0,566.0,5039.0,2744.0,...,2166.0,1394.0,463.0,719.0,2651.0,1592,210.0,228.0,3878.0,4681.0
7,\t\t 45 to 49 years,71.0,103.0,302.0,265.0,236.0,254.0,460.0,4910.0,2618.0,...,2162.0,1338.0,512.0,711.0,2591.0,1397,179.0,257.0,3571.0,4424.0
8,\t\t 50 to 54 years,80.0,125.0,244.0,293.0,289.0,223.0,491.0,5509.0,2772.0,...,2560.0,1516.0,454.0,735.0,2567.0,1380,134.0,236.0,3791.0,4317.0
9,\t\t 55 to 59 years,56.0,168.0,280.0,269.0,260.0,329.0,601.0,6147.0,2978.0,...,3054.0,1486.0,570.0,805.0,2514.0,1112,107.0,158.0,3257.0,3891.0
10,\t\t 60 to 64 years,96.0,160.0,291.0,263.0,242.0,275.0,637.0,6581.0,3197.0,...,3276.0,1659.0,534.0,826.0,2385.0,1050,109.0,197.0,3273.0,3741.0
11,\t\t 65 to 69 years,67.0,121.0,228.0,229.0,170.0,229.0,495.0,5415.0,3017.0,...,2941.0,1569.0,467.0,707.0,1874.0,1011,101.0,149.0,3053.0,3135.0
12,\t\t 70 to 74 years,82.0,118.0,189.0,250.0,198.0,254.0,375.0,4205.0,2464.0,...,2523.0,1333.0,386.0,517.0,1419.0,906,81.0,131.0,2642.0,2537.0
13,\t 75 years and over,130.0,259.0,412.0,610.0,355.0,465.0,823.0,7807.0,3254.0,...,4889.0,1879.0,473.0,607.0,1967.0,1054,103.0,161.0,3682.0,3285.0